body{
		margin:1em auto;
		max-width:40em;
		padding:0 .62em;
		font:1.2em/1.62 sans-serif;
	}
h1,h2,h3 {
	line-height:1.2;
}

a {
	color: #336699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width:100%;
}

header {
    text-align:center;
    padding:10px;
    background-color:transparent;
    background: transparent url("https://source.unsplash.com/weekly") no-repeat scroll center center / cover;*/
	width:34em; 
    margin-left:auto;
    margin-right:auto;
}

header a  {
    color:#111;
    text-shadow: .3em .3em .3em #d7ddde ; 
    border: 0;
}

.headerTitle {
    font-size:1.3em;
}

.headerSubtitle {
    font-size:0.85em;
    font-style:italic;
    width:100%;
}

nav a.thisPage {
    font-weight: bold;
}

footer {
    font-size:0.8em;
    background-color:transparent;
    text-align:center;
    margin:auto;
    padding:.2em;
    width:50%;
    border-top:1px solid #333 ;
}

footer img {
    margin-left:.2em;
    margin-right:.2em;
    vertical-align:middle;
}

main {
    text-align:left;
    margin:auto;
    padding:1em 3em 1em 3em;
    line-height:1.5;
    max-width:60%;
}


